:root{
    --fontColor: #424242;
    --fontFamily: "Permanent Marker";
}

@font-face {
    font-family: 'foxlite_scriptregular';
    src: url('foxlite_script-webfont.woff2') format('woff2'),
         url('foxlite_script-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body{
    box-sizing: border-box;
    margin: 0;
    color: var(--fontColor);
    background-color:rgb(236, 236, 236);
}
#flip-site{
background-image: url('Assets/Loading\ Flip\ Screen\ with\ Dropdown\ Light.png');
width: 100%;
height: 1080px;
perspective: 1000px;
background-size: cover;
}
#flip-site-inner{
position: relative;
text-align: center;
width: 100%;
height: 100%;
transition: transform 0.8s;
transform-style: preserve-3d;
}

.flip-site-front, .flip-site-back{
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
}
.flip-site-front{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-size: cover;
    background-image: url('Assets/Minimalist\ Mountains.png');
}
#flip-site-prompt{
    align-self: center;
    font-family: 'foxlite_scriptregular';
    font-size: 5em;
    display: inline-flex;
    font-weight: 100;
    padding: 10px;
    background-color: transparent;
}
.flip-site-back{
    font-family: "Permanent Marker", cursive;
    transform: rotateX(180deg);
}
.parallaxBackgroundImage{
    background-image: url('Assets/Purple\ Mountain\ High.jpg');
    min-height: 1080px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
    position: sticky;
    bottom: 0;
    color: #f1f1f1;
    border: 1px solid #f1f1f1;
    border-right: none;
    border-left: none;

}

.link {
    float: left;
}
.navbar .search{
    float: right;
    text-align: center;
    color: white;
    padding: 8px 16px;
}
.navbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.3s;
    font-family: var(--fontFamily), cursive;
}

.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(58, 58, 58);
}

.navbar li .dropdown .dropdown-content{
    display: inline-block;
}

.navbar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.navbar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navbar .dropdown-content a:hover {background-color: #f1f1f1}

.navbar .dropdown:hover .dropdown-content {
    display: block;
}
.header {
    font-size: 1em;
    font-family: "Permanent Marker", cursive;
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    top: 0;
}
#banner{
    text-decoration: none;
    color: #f1f1f1;
    font-family: 'Amatic SC', cursive;
    font-weight: 200;
    font-size: 4em;
}
#searchInput{
    transition: width 0.4s ease;
}
.searchHidden{
    visibility: hidden;
    width: 0in;
}
.searchExtend{
    width: 2in;
    visibility: visible;
}

.mainColumn{
    /*border: 1px solid #111;*/
    float: left;
    width: 75%;
    padding: 10px;
}
.sideColumn{
    /*border: 1px solid #111;*/
    float: left;
    width: 20%;
    padding: 10px 10px 10px 10px;
}
.fakeimg{
 background-color: #aaa;
 width: 90%;
 padding: 20px 20px 20px 10px;
}
.cardBackgroundImage{
    
}
.card{
    /*background-color: white;*/
    background-color: transparent;
    padding: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    border: 1px solid #f1f1f1;
}
.cardTitle{

}
.cardDescription{

}
.flip-card{
    opacity: 1;
    background-color: transparent;
    width: 100px;
    height: 100px;
    perspective: 1000px;
}
.flip-card-inner{
    position: relative;
    width: 100px;
    height: 100px;
    text-align: center;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner{
    transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.flip-card-front{
    background-image: url('Assets/Flip-Card-Photo.jpg');
    background-size: cover;
    opacity: 1;
    color: #f1f1f1;
    font-family: var(--fontFamily), cursive;
    border: 1px solid #f1f1f1;
}
.flip-card-back{
    display: flex;
    opacity: 1;
    color: #f1f1f1;
    background-color: transparent;
    border: 1px solid #f1f1f1;
    transform: rotateY(180deg);
}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.contact-content{
    display: flex;
    justify-content: space-between;
    font-family: var(--fontFamily), cursive;
}
.contact-card{
    display: flex;
    margin: 10px;
    padding: 5px;
    border: 1px solid #f1f1f1;
    width: 100%;
    background-color: transparent;
    justify-content: start;
}
.art ul{
    list-style-type: none;
}
.art li{
    display: inline-block;
}
.art li img{
    float: left;
    max-width: 400px;
    max-height: 400px;
    padding: 10px;
}
#selectInput{
    padding: 10px;
    border: 1px solid #2222;
    border-radius: 3px;
    background-color: #818181;
    color: white;
}
@media screen and (max-width: 900px){
    .mainColumn{
        width: 95%;
    }
    .sideColumn{
        width: 95%;
    }
}
@media screen and (max-width: 600px){
    .header, .header img{
        width: 400px;
        height: 60px;
    }
    .mainColumn{
        width: 85%;
        float: right;
    }
    .sideColumn{
        float: right;
        width: 85%;
    }
    .card{
        margin-left: 0;
        padding: 20px 20px 20px 0px;
    }
    .navbar ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        width: 40px;
        position: fixed;
        height: 100%;
        overflow: auto;
        background-color: #818181;
    }
    .navbar li a{
        display: block;
        color: #000;
        padding: 5px 10px;
        text-decoration: none;
    }
}
