body {
    margin: 0;
    color: whitesmoke;
    background-color: dimgray;
}

.headerDiv {
    font-size: 300%;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    border-bottom: 2px solid rgb(0, 133, 0);
    border-left: 1px solid rgba(144, 238, 144, 0.712);
    border-right: 1px solid rgba(144, 238, 144, 0.712);
    background-color: rgb(83, 83, 83);
    margin: 0;
}
.navBar {
    background-color: rgb(61, 61, 61);
}
.navBar ul{
    position: sticky;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.navBar li{
    float: left;
    text-align: center;
    background-color: rgb(61, 61, 61);
    
}
.navBar a{
    display: block;
    color: azure;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 6px;
}
.navBar a:hover:not(.active) {
    background-color: #111;
    color: azure;
}
.navBar a.active{
    background-color: rgba(144, 238, 144, 0.712);
}
.navBar a:hover{
    background-color: rgba(144, 238, 144, 0.945);
}